<div class="container">
    <p-growl [(value)]="msgs"></p-growl>
    <div class="row">
      <input  type="text" class="form-control col-sm-8" name="searchString" placeholder="Buscar..." [(ngModel)]="searchString">
      <p-toggleButton [(ngModel)]="estudiantes" class="col-sm-4"  (onChange)="listarEstudiantes()"
      onLabel="Todos" offLabel="Estudiantes"></p-toggleButton>

    </div>

    

  <table class="table table-striped">
    <thead>

      <th>Nombre</th>
      <th>Apellido</th>
      <th>Username</th>
      <th>Email</th>
      <th>Rol</th>
      <th></th>
      <th></th>
    </thead>
    <tbody id="test">
      <tr *ngFor="let usuario of usuarios | filter : ['nombre','apellido','username', 'email'] : searchString; let i = index">

        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellido}}</td>
        <td>{{usuario.username}}</td>
        <td>{{usuario.email}}</td>
        <td *ngFor="let rol of usuario.roles">{{rol.nombre}}</td>

        <td><button class="btn btn-warning" (click)="editarUsuario(usuario)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="borrarUsuario(usuario)" confirm="Are you sure?">Borrar</button>

      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="agregarUsuario()">Nuevo</button>
</div>
