
<div class="container" >

  <input type="text" class="form-control" name="searchString" placeholder="Buscar..." [(ngModel)]="searchString">


  <table class="table table-striped">
      <thead >
          
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Username</th>
          <th>Email</th>
          <th>Operacion </th>
      </thead>
      <tbody id="test">
          <tr *ngFor="let usuario of usuarios | filter : ['nombre','apellido','username', 'email'] : searchString; let i = index">
              
              <td>{{usuario.nombre}}</td>
              <td>{{usuario.apellido}}</td>
              <td>{{usuario.username}}</td>
              <td>{{usuario.email}}</td>
              
              <td><button class="btn btn-danger" (click)="borrarUsuario(usuario)" confirm="Are you sure?" >Delete</button>
                  <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>

          </tr>
      </tbody>
  </table>
  <button class="btn btn-primary" (click)="agregarUsuario()" >Nuevo</button>
</div>
