
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-3">
                    <h3>Cambiar Password</h3>
                    <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [(ngModel)]="password" [ngClass]="{ 'is-invalid': (submitted ||  f.password.touched) && f.password.errors }" />
                            
                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched || submitted)" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password es requerido</div>
                                <div *ngIf="f.password.errors.minlength">Password debe tener al menos 6 caracteres</div>
                          </div>
                        </div>  
                        <div class="form-group">
                            <label>Confirmar Password</label>
                            <input type="password" formControlName="passwordConfirm" class="form-control" [(ngModel)]="passwordConfirm" [ngClass]="{ 'is-invalid': (submitted ||  f.passwordConfirm.touched) && f.passwordConfirm.errors }" />
                            
                            <div *ngIf="f.passwordConfirm.invalid && (f.passwordConfirm.dirty || f.passwordConfirm.touched || submitted)" class="invalid-feedback">
                                <div *ngIf="f.passwordConfirm.errors.required">Password es requerido</div>
                                <div *ngIf="f.passwordConfirm.errors.minlength">Password debe tener al menos 6 caracteres</div>
                                <div *ngIf="f.passwordConfirm.errors.matchOther">Los password no coinciden</div>
                            </div>
                        </div>


                        
                        <div class="form-group">
                              <button  class="btn btn-primary ">Cambiar</button>
                            
                      </div>
                  </form>
              </div>
          </div>
      </div>
