<nav class="navbar navbar-expand-sm  navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="{{rol}}"><img src="assets/img/TecnoLogoHorizBlanco.png" height="40"></a>

  <!-- Links -->

  <!-- Dropdown -->
  <ul class="navbar-nav ml-auto">
    <div *ngIf="rol === 'estudiante'">
      <img [src]="foto" class="rounded-circle" width="40" height="40">
    </div>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{username}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div *ngIf="rol=='estudiante'">
          <a class="dropdown-item" href="estudiante/perfil">Perfil</a>
          <div class="dropdown-divider"></div>
        </div>
        <a class="dropdown-item" href="{{rol}}/cambiar-password">Cambiar Password</a>
        <a class="dropdown-item" (click)="logout()" href="">Salir</a>
      </div>
    </li>
  </ul>

</nav>
