
<accordion [closeOthers]="true">
    <div *ngFor="let carrera of carreras" >
        <accordion-group  heading="{{carrera.nombre}}">
            <accordion [closeOthers]="true">
            <div class="center" *ngFor="let asignaturaCarrera of carrera.asignaturaCarrera">
                <accordion-group  heading="{{asignaturaCarrera.asignatura.nombre}}">                  
                    <div class="container">
                        <table class="table table-striped" >
                            <thead>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let examen of asignaturaCarrera.asignatura.examenes">
                                    
                                    <td>{{examen.fecha}}</td>
                                    <td>{{examen.hora}}</td>
                                    <div *ngIf="!(estaInscripto(examen)); else desistir">
                                            <td><button class="btn btn-primary" (click)="inscripcionAExamen(examen)" confirm="Seguro que desea inscribirse?" >Inscribir</button></td>
                                        </div>
                                        <ng-template #desistir>
                                              <td><button class="btn btn-danger" (click)="desistirAExamen(examen)" confirm="Seguro que desea desistir?" >Desistir</button></td>
                                        </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>           
                </accordion-group>
            </div>
        </accordion>
          </accordion-group>
        </div>
      </accordion>