<p-growl [(value)]="msgs"></p-growl>
<accordion [closeOthers]="true">
  <div *ngFor="let carrera of carreras">
    <accordion-group heading="{{carrera.nombre}}" (isOpenChange)='cargarListas(carrera)'>
      <div class="center">
        <p-pickList [responsive]="true" sourceHeader="Asignaturas" targetHeader="Faltantes" [source]="asignaturas"
          [target]="asignaturasFaltantes" (onMoveToSource)="onMoveToSource($event)" (onMoveToTarget)="onMoveToTarget($event)"
          [showSourceControls]="false" [showTargetControls]="false">
          <ng-template let-asignatura pTemplate="item">
            <div class="ui-helper-clearfix">
              <div>{{asignatura.nombre}}</div>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    </accordion-group>
  </div>
</accordion>
<p-dialog header="Datos de la Asignatura" [(visible)]="display">
  <form id="registerForm">
    <div *ngIf="tieneAsignaturaCarrera;else mostrar">
        <div class="form-group">
          <div>
          <label>Creditos</label>
            <input name="creditos" disabled [(ngModel)]="asignaturaCarrera.creditos" />
          </div>
        </div>
        <div class="form-group">
          <label>Nota de Exoneracion</label>
          <input name="notaMinimaExonera" disabled [(ngModel)]="asignaturaCarrera.notaMinimaExonera" />
        </div>
        <div class="form-group">
          <label>Nota Minima para Examen</label>
          <input name="notaMinimaExamen" disabled [(ngModel)]="asignaturaCarrera.notaMinimaExamen" />
        </div>
        <div class="form-group">
          <label>Nota para Salvar Examen</label>
          <input name="notaSalvaExamen" disabled [(ngModel)]="asignaturaCarrera.notaSalvaExamen" />
        </div>
        <div class="form-group">
          <label>Nota Maxima</label>
          <input name="notaMaxima" disabled [(ngModel)]="asignaturaCarrera.notaMaxima" />
        </div>
    </div>

    <ng-template #mostrar>
        <div class="form-group">
            <div>
            <label>Creditos</label>
              <input name="creditos"  [(ngModel)]="asignaturaCarrera.creditos" />
            </div>
          </div>
          <div class="form-group">
            <label>Nota de Exoneracion</label>
            <input name="notaMinimaExonera"  [(ngModel)]="asignaturaCarrera.notaMinimaExonera" />
          </div>
          <div class="form-group">
            <label>Nota Minima para Examen</label>
            <input name="notaMinimaExamen" [(ngModel)]="asignaturaCarrera.notaMinimaExamen" />
          </div>
          <div class="form-group">
            <label>Nota para Salvar Examen</label>
            <input name="notaSalvaExamen"  [(ngModel)]="asignaturaCarrera.notaSalvaExamen" />
          </div>
          <div class="form-group">
            <label>Nota Maxima</label>
            <input name="notaMaxima"[(ngModel)]="asignaturaCarrera.notaMaxima" />
          </div>
        
    </ng-template>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="onSubmit()" label="Agregar"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancelDialog()" label="Cancelar" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>


<!--;carrera.asignaturaCarrera.push(asignatura.asignaturaCarrera)
  
    (onMoveToSource)="agregarAsignatura(carrera,$event.items)"
  
     (click)="cargarListas(carrera)"
  
    <ng-template #agregar></ng-template>
  
  <div *ngFor="let asignaturaCarrera of carrera.asignaturaCarrera"></div>
  
  <div *ngIf="!borrar" >
              <button type="button" class="btn btn-primary btn-sm " (click)="agregarAsignatura(carrera,asignaturaCarrera.asignatura)">Agregar </button>
          </div>
  
  
  <accordion [closeOthers]="true">
    <div *ngFor="let carrera of carreras" >
      <accordion-group heading="{{carrera.nombre}}">      
        <div *ngFor="let asignaturaCarrera of carrera.asignaturaCarrera;let i = index" >
          {{asignaturaCarrera.asignatura.nombre}}
          <button type="button" class="btn btn-danger btn-sm " (click)="eliminarAsignatura(carrera,asignaturaCarrera.asignatura); carrera.asignaturaCarrera.splice(i,1)">Eliminar </button>
        </div>
        <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template,carrera)">Agregar </button>
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Agregar Asignatura</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngFor="let asignatura of asignaturas;let i=index">
                {{asignatura.nombre}}
                <button type="button" class="btn btn-primary btn-sm"  (click)="agregarAsignatura(carrera,asignatura)">Agregar </button>
              </div>
            </div>
          </ng-template>
      </accordion-group>
    </div>
     
  </accordion>
  
  
  
  -->
