<app-header></app-header>



        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-3">
                    <h3>Nueva Asignatura</h3>
                    <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" [(ngModel)]="asignatura.nombre" [ngClass]="{ 'is-invalid': (submitted || f.nombre.touched) && f.nombre.errors }"/>
                            <div *ngIf="f.nombre.invalid && (f.nombre.dirty || f.nombre.touched || submitted)  " class="invalid-feedback">
                                <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
                            </div>
                        </div>
                            <label>Descripcion</label>
                            <textarea formControlName="descripcion" class="form-control" [(ngModel)]="asignatura.descripcion"></textarea>
                                           
                    
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" formControlName="codigo" class="form-control" [(ngModel)]="asignatura.codigo" [ngClass]="{ 'is-invalid': (submitted || f.codigo.touched) && f.codigo.errors }"/>
                            <div *ngIf="f.codigo.invalid && (f.codigo.dirty || f.codigo.touched || submitted)  " class="invalid-feedback">
                                <div *ngIf="f.codigo.errors.required">Codigo es requerido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Taller</label><p></p>
                            <p-checkbox formControlName="taller" [(ngModel)]="asignatura.taller" binary="true"></p-checkbox>
                          </div>                        
                        <div class="form-group">
                              <button  class="btn btn-primary ">Agregar</button>
                              <button (click)="cancelar()" class="btn btn-default">Cancelar</button>

                            
                      </div>
                  </form>
              </div>
          </div>
      </div>