/* You can add global styles to this file, and also import other style files */

#list-tab .list-group-item {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.col-8 {
  max-width: 100% !important;
}

.navbar {
  /* background-image: linear-gradient(to bottom, #460, #690); */
  /* background-color: #690; */
  background-color: #460;
}

#nav-tabContent {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
}

button[icon|="pi pi-angle-double"] {
  display: none !important;
}
